body {
    margin-left: 10%;
    margin-right: 10%;
    background-image: url"mario.jpg";
}

#topHeader{
    margin-left: 25%;
}

#topHeader h1{
    margin: 0;
    display: inline-block;
} 

#topHeader img{
    width: 100;
    height: auto;
}

nav{
    border: 3px dotted fuchsia;
}

ul nav{
    padding: 0;
    margin-left: 25%;
}

li nav{
    display: inline-block; 
    padding-right: 20;
    font-size: 20;
}

#sectionHeader{
    font-size: 20px;
    color: blueviolet;
    font-family: 'Arvo', serif;
    text-shadow: 2px 3px 1px black;
}

#articleHeader{
    font-size: 18px; 
    color: mediumspringgreen;
}

aside{
    display: inline-block;
    vertical-align: top;
}

#listHeader{
    font-size: 20 px;
    color: violet;
}

#consoleSection{
    border: 10px outset gray;
    margin: 5px; 
    padding: 10px;
}

#consoleSection li{
    padding: 5px;
}

section{
    background-color: indianred
}

article{
    background-color: cornflowerblue;
    border: 4px groove fuchsia;
}